*.o

.stgit*
.together/*
.deps
*.gcov
*~
\#*#
.#*
*.orig
*.rej
*.log
*.dmp
*.s
*.so
Doc/html/*
output
perf.data
perf.data.old
rasp/data
.#*
callgrind.out.*
tmp/
.gdbinit
test/data/private
/.project
/.cproject
.DS_Store
massif.out.*
build/local-config.mk

/Compile-XCSoar.cmd
/git_update.cmd
/Data/Input/default - Kopie.xci
/.august
/_tmp
/my_patch

*.pyc
*.pyo
*.bak
.*.swp
.idea
CMakeLists.txt
*.cmake
CMakeLists.txt
*.cmake
/3rd_party/CMakeLists.txt
/3rd_party/boost/CMakeLists.txt
/3rd_party/*.cmake
/build/cmake/xcsoar.cmake
/build/cmake/CMakeLists.txt
/Data/CMakeLists.txt
/src/zzip/CMakeLists.txt
/test/CMakeLists.txt
/test/src/CMakeLists.txt
/test/src/CMakeSource.cmake
/tools/CMakeLists.txt
/src/util/CMakeLists.txt
/src/time/CMakeLists.txt
/src/thread/CMakeLists.txt
/src/system/CMakeLists.txt
/*.cmake
/src/thread/meson.build
/src/time/meson.build
/src/ui/meson.build
/src/util/meson.build
/src/zzip/meson.build
/test/src/meson.build
/src/json/meson.build
/src/co/meson.build
/src/event/meson.build
/src/io/meson.build
/src/Weather/meson.build
/src/Widget/meson.build
/output/src/boost_1_77_0/libs/qvm/meson.build
/output/src/freetype-2.11.0/meson.build
/tools/meson.build
/src/lua/meson.build
/src/meson.build
/src/net/meson.build
/src/system/meson.build
/src/json/meson_from_cmake.build
/meson_from_cmake.build
/po/meson.build
/src/Airspace/meson.build
/src/Atmosphere/meson.build
/meson_from_cmake.build
/src/XML/meson.build
/src/Polar/meson.build
/src/Profile/meson.build
/src/Projection/meson.build
/src/Renderer/meson.build
/src/Replay/meson.build
/src/Repository/meson.build
/src/Screen/meson.build
/src/Task/meson.build
/src/TeamCode/meson.build
/src/Terrain/jasper/meson.build
/src/Terrain/meson.build
/src/Topography/meson.build
/src/Tracking/meson.build
/src/UIUtil/meson.build
/src/Units/meson.build
/src/Waypoint/meson.build
/src/IGC/meson.build
/src/InfoBoxes/meson.build
/src/Input/meson.build
/src/Job/meson.build
/src/Language/meson.build
/src/Logger/meson.build
/src/Look/meson.build
/src/MapWindow/meson.build
/src/Markers/meson.build
/src/Math/meson.build
/src/Menu/meson.build
/src/Monitor/meson.build
/src/NMEA/meson.build
/src/Operation/meson.build
/src/Plane/meson.build
/src/Audio/meson.build
/src/Blackboard/meson.build
/src/Cloud/meson.build
/src/Computer/meson.build
/src/CrossSection/meson.build
/src/Device/meson.build
/src/Dialogs/meson.build
/src/Engine/meson.build
/src/FLARM/meson.build
/src/Form/meson.build
/src/Formatter/meson.build
/src/Gauge/meson.build
/src/Geo/meson.build
/src/Hardware/meson.build
/3rd_party/meson.build
/build/cmake/meson.build
/Data/meson.build
/meson.build
/CMake2Meson.cmd
/meson_options.txt
